{% extends "base.html" %}

{% block content %}
<h1>Category Submission</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.category_title.label }}
        {{ form.category_title(class_="form-control") }}
        {% for error in form.category_title.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.category_type.label }}
        {{ form.category_type(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.parent_category.label }}
        {{ form.parent_category(class_="form-control", size=8) }}
    </div>
    <input id="submit" name="submit" type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
</form>

{% endblock %}