{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>


<!-- show subcategories -->
{% if subcategories|length > 0 %}
	<p>
		Subcategories:
		{% for cat in subcategories %}
			<!-- append a comma if the list is still iterating -->
			{% if loop.index != subcategories|length %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>,
			{% else %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>
			{% endif %}
		{% endfor %}
	</p>
{% endif %}

<!-- show videos with events -->
{% if videos_per_event.keys()|length > 0 %}
	<h2>Events</h2>
	<p>
		{% for event, links in videos_per_event.items() %}
			<p>{{ Event }}</p>
			{% for link in links %}
	            <video width="100%" controls><source src="{{ link.url }}" type="video/mp4"></video>
	            <p><strong>{{ link.text }}</strong></p>
			{% endfor %}
		{% endfor %}
	</p>
{% endif %}

<!-- show parent categories -->
{% if parent_categories|length > 0 %}
	<p>
		Categories:
		{% for cat in parent_categories %}
			<!-- append a comma if the list is still iterating -->
			{% if loop.index != parent_categories|length %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>,
			{% else %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>
			{% endif %}
		{% endfor %}
	</p>
{% endif %}

{% endblock %}