{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>


<!-- show subcategories -->
{% if subcategories|length > 0 %}
	<p>
		Subcategories:
		{% for cat in subcategories %}
			<!-- append a comma if the list is still iterating -->
			{% if loop.index != subcategories|length %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>,
			{% else %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>
			{% endif %}
		{% endfor %}
	</p>
{% endif %}

<!-- show videos with events -->
{% if events|length > 0 %}
	<h2>Events</h2>
	<p>
		{% for event in events %}
			<a href="{{ url_for('event_page', page_title=event) }}">{{ event }}</a>
		{% endfor %}
	</p>
{% endif %}

<!-- show videos -->
{% if videos|length > 0 %}
	<h2>Videos</h2>
	{% for link in videos %}
        <video width="100%" controls><source src="{{ link.url }}" type="video/mp4"></video>
        <p><strong>{{ link.text }}</strong></p>
	{% endfor %}
{% endif %}

<!-- show parent categories -->
{% if parent_categories|length > 0 %}
	<p>
		Categories:
		{% for cat in parent_categories %}
			<!-- append a comma if the list is still iterating -->
			{% if loop.index != parent_categories|length %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>,
			{% else %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>
			{% endif %}
		{% endfor %}
	</p>
{% endif %}

{% endblock %}