{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>


<!-- show subcategories -->
{% if subcategories|length > 0 %}
	<p>
		Subcategories:
		{% for cat in subcategories %}
			<!-- append a comma if the list is still iterating -->
			{% if loop.index != subcategories|length %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>,
			{% else %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>
			{% endif %}
		{% endfor %}
	</p>
{% endif %}

<!-- show events -->
{% if events|length > 0 %}
	<p>
		Events:
		{% for event in events %}
			<!-- append a comma if the list is still iterating -->
			{% if loop.index != events|length %}
				<a href="{{ url_for('event_page', page_title=event) }}">{{ event }}</a>,
			{% else %}
				<a href="{{ url_for('event_page', page_title=event) }}">{{ event }}</a>
			{% endif %}
		{% endfor %}
	</p>
{% endif %}

<!-- show parent categories -->
{% if parent_categories|length > 0 %}
	<p>
		Categories:
		{% for cat in parent_categories %}
			<!-- append a comma if the list is still iterating -->
			{% if loop.index != parent_categories|length %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>,
			{% else %}
				<a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>
			{% endif %}
		{% endfor %}
	</p>
{% endif %}

{% endblock %}