{% extends "base.html" %}

{% block content %}
<h1>Create Channel</h1>
<p><strong>Create a channel from a pre-existing category. <a href="{{ url_for('category_submission') }}">Create a new category</a> if it doesn't exist.</strong></p>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-row">
	    <div class="form-group col-md-6">
	        {{ form.category_for_channel.label }}
	        {{ form.category_for_channel(class_="form-control") }}
	    </div>
	</div>
    <input id="submit" name="submit" type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
</form>

{% endblock %}