{% extends "base.html" %}

{% block content %}
{% if 'admin' in current_user.roles %}
    <a href="{{ url_for('edit_event_page', page_title=title) }}">Edit Event</a>
{% endif %}
<h1>{{ title }}</h1>

{% if not page_exists %}
    <p>No event made for <strong>{{ title }}</strong>! <a href="{{ url_for('event_submission', event_title=title) }}">Create one here.</a>
{% endif %}

<!-- show parent categories -->
{% if parent_categories|length > 0 %}
    <p>
        Categories:
        {% for cat in parent_categories %}
            <!-- append a comma if the list is still iterating -->
            {% if loop.index != parent_categories|length %}
                <a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>,
            {% else %}
                <a href="{{ url_for('category_page', page_title=cat) }}">{{ cat }}</a>
            {% endif %}
        {% endfor %}
    </p>
{% endif %}

<!-- show videos -->
{% if videos|length > 0 %}
    <h2>Videos</h2>
    <div class="row">
    {% for link in videos %}
        <div class="card card_video border-light">
            <video class="card-img-top" loop controls playsinline preload="auto"><source src="{{ link.url }}" type="video/mp4"></video>
            <div class="card-body">
                <h5 class="card-title">{{ link.text }}</h5>
                <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% endblock %}