{% extends "base.html" %}

{% block content %}
<h1>Event Submission</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.event_type.label }}<br>
        {{ form.event_type }}
    </p>
    <p>
        {{ form.event_title.label }}<br>
        {{ form.event_title(size=32) }}<br>
        {% for error in form.event_title.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <div class="form-group">
        {{ form.start_time.label }}
        <div class="input-group date" id="datetimepicker_event_start" data-target-input="nearest">
            {{ form.start_time(type='text', class_='datetimepicker-input', data_target='datetimepicker_event_start') }}
            <div class="input-group-append" data-target="#datetimepicker_event_start" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
    <p>
        {{ form.end_time.label }}<br>
        {{ form.end_time(class_='datetimepicker') }}
    </p>
    <p>
        {{ form.parent_category.label }}<br>
        {{ form.parent_category }}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}