{% extends "base.html" %}
{% block content %}

{% if not current_user.is_authenticated %}
	<div style="text-align: center;">
		<h1 class="display-4">Lob: Community-Driven TV</h1>
		<br>
		<a href="{{ url_for('register') }}" class="btn btn-outline-primary btn-block btn-lg" role="button" aria-pressed="true">Join the Private Beta</a>

	</div>

{% elif current_user.roles|length == 0 %}
	<div class="alert alert-info" role="alert">
		<strong>Your sign-up for private beta is waiting approval.</strong>
	</div>
{% else %}
	<!-- show events -->
	{% if events|length > 0 %}
		<h2>Events</h2>
		<p>
			{% for event in events %}
				<p><a href="{{ url_for('event_page', page_title=event) }}">{{ event }}</a></p>
			{% endfor %}
		</p>
	{% endif %}

	<!-- show videos -->
	{% if videos|length > 0 %}
		<div>
			<h2>Videos</h2>
			<div class="container_videos">
			{% for link in videos %}
				<div class="card card_video border-light">
					<video class="card-img-top" loop controls playsinline preload="auto"><source src="{{ link.url }}" type="video/mp4"></video>
					<div class="card-body">
						<h5 class="card-title"><a href="{{ url_for('video_page', video_id=link.id) }}">{{ link.text }}</a></h5>
						<small class="text-muted timestamp" value="{{ link.uploaded_at }}"></small>
					</div>
				</div>
			{% endfor %}
			</div>
			<div id="load-more-posts">
				<div class="loading-spinner" id="loading-spinner-posts">
					<div class="dot dotOne"></div>
					<div class="dot dotTwo"></div>
					<div class="dot dotThree"></div>
				</div>
			</div>
		</div>
	{% endif %}

{% endif %}

{% endblock %}