{% extends "base.html" %}
{% block content %}

{% if not current_user.is_authenticated %}
	<h1 style="text-align: center;">Coming Soon!</h1>

{% else %}
<!-- show events -->
	{% if events|length > 0 %}
		<h2>Events</h2>
		<p>
			{% for event in events %}
				<p><a href="{{ url_for('event_page', page_title=event) }}">{{ event }}</a></p>
			{% endfor %}
		</p>
	{% endif %}

	<!-- show videos -->
	{% if videos|length > 0 %}
		<h2>Videos</h2>
		<div class="row">
		{% for link in videos %}
			<div class="card card_video border-light">
				<video class="card-img-top" controls><source src="{{ link.url }}" type="video/mp4"></video>
				<div class="card-body">
					<h5 class="card-title">{{ link.text }}</h5>
					<small class="text-muted"><a href="{{ url_for('event_page', page_title=link.title) }}">{{ link.title }}</a></small>
				</div>
			</div>
		{% endfor %}
		</div>
	{% endif %}

{% endif %}

{% endblock %}