{% extends "base.html" %}

{% block content %}
{% if posts == None %}
	<p><strong>Sport doesn't exist, or you're a dingus and misspelled something.</strong></p>
{% else %}
	<!-- show videos -->
	<div class="row">
		<div class="col-sm-auto">
			<h1>Reddit Videos</h1>
		</div>
		<div class="col">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class = "nav-link{% if league=='baseball' %} active{% endif %}" href="{{ url_for('reddit_videos', league='mlb') }}">MLB</a>
				</li>
				<li class="nav-item">
					<a class = "nav-link{% if league=='nfl' %} active{% endif %}" href="{{ url_for('reddit_videos', league='nfl') }}">NFL</a>
				</li>
				<li class="nav-item">
					<a class = "nav-link{% if league=='nba' %} active{% endif %}" href="{{ url_for('reddit_videos', league='nba') }}">NBA</a>
				</li>
			</ul>
		</div>
	</div>
	<br>

	{% if posts|length > 0 %}
		<form action="" method="post">
			<!-- upload button sticky top -->
			<input id="submit" name="submit" type="submit" value="Upload All Selected" class="btn btn-primary btn-block">
			<br>

			{% for post in posts %}
				<div class="card card_video border-light">
					<video class="card-img-top" controls loop playsinline muted preload="auto"><source src="{{ post.mp4_url }}" type="video/mp4"></video>
					<div class="card-body">
						<h5 class="card-title">{{ post.title }}</h5>
						<small class="text-muted timestamp" value="{{ post.date_posted }}">{{ post.date_posted.strftime("%b %-d, %Y %-I:%M %p") }}&nbsp;&nbsp;&nbsp;</small>
						
						<!-- checkbox for upload -->
						<div class="card-text form-check">
							<input class="form-check-input" type="checkbox" id="video_checkbox{{ loop.index }}" name="video_upload" value="{{ post.id }}" checked>
							<label class="form-check-label" for="video_checkbox{{ loop.index }}">
								<strong>Upload</strong>&emsp;<a href="{{ url_for('video_submission', video_title=post.title, video_url=post.mp4_url) }}">Upload this video only.</a>
							</label>
						</div>
					</div>
				</div>
	        {% endfor %}
	    </form>
	{% else %}
	<p>No recent videos for the sport.</p>
	{% endif %}
{% endif %}

<script type="text/javascript">
	var elems = document.getElementsByClassName("timestamp");

	// edit html for time posted
	for (i = 0; i < elems.length; i++) {
		var ts = elems[i].getAttribute("value");
		var year = ts.substring(0, 4);
		var month = parseInt(ts.substring(5, 7)) - 1;
		var date = ts.substring(8, 10);
		var hours = ts.substring(11, 13);
		var minutes = ts.substring(14, 16);
		var seconds = ts.substring(17, 19);

		var date_posted = new Date(Date.UTC(year, month, date, hours, minutes, seconds));
		var date_now = new Date();
		var timedelta = date_now - date_posted;
		var years_ago = parseInt(timedelta / (1000 * 60 * 60 * 24 * 365));
		var months_ago = parseInt(timedelta / (1000 * 60 * 60 * 24 * 30));
		var days_ago = parseInt(timedelta / (1000 * 60 * 60 * 24));
		var hours_ago = parseInt(timedelta / (1000 * 60 * 60));
		var minutes_ago = parseInt(timedelta / (1000 * 60));
		
		// CREATE FRIENDLY STRING TO DESCRIBE WHEN VIDEO WAS POSTED
		if (years_ago > 1) {
			elems[i].innerHTML = years_ago + " years ago";
		} else if (years_ago == 1) {
			elems[i].innerHTML = years_ago + " year ago";
		} else if (months_ago > 1) {
			elems[i].innerHTML = months_ago + " months ago";
		} else if (months_ago == 1) {
			elems[i].innerHTML = months_ago + " month ago";
		} else if (days_ago > 1) {
			elems[i].innerHTML = days_ago + " days ago";
		} else if (days_ago == 1) {
			elems[i].innerHTML = days_ago + " day ago";
		} else if (hours_ago > 1) {
			elems[i].innerHTML = hours_ago + " hours ago";
		} else if (hours_ago == 1) {
			elems[i].innerHTML = hours_ago + " hour ago";
		} else if (minutes_ago > 1) {
			elems[i].innerHTML = minutes_ago + " minutes ago";
		} else {
			elems[i].innerHTML = minutes_ago + " minute ago";
		}
	}
</script>

{% endblock %}